.article {
  margin-top: 0;
  padding-top: 0;
  .content {
    font-family: $family-serif;
  }

  .banner {
    background-size: cover;
    background-position: center center;
    background-color: #444;
    background-blend-mode: screen;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $navbar-height;
    color: #fff;
    text-shadow: 2px 2px #000;
  }

  .section {
    padding-top: $pm-size-medium;
    margin-top: 0;
  }

  .metas {
    padding: $pm-size $pm-size-medium;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dark;
    color: $light;

    &-infos {
      display: flex;
      align-items: center;

      .date {
        color: $success;
        font-weight: bold;
      }
    }

    .tag {
      font-size: 1rem;
      &:hover {
        animation: 'pulse-green' 2s infinite;
      }
    }
  }

  .content {
    padding: $pm-size-medium;

    h3 {
      color: $primary;
    }

    strong {
      color: $success;
    }

    img {
      margin-top: $pm-size;
      border-radius: $radius-small;
    }

    blockquote {
      background-color: $light;
      border-color: $primary;
      border-radius: $radius-small;
    }
  }
}

@media screen and (max-width: 767px) {
  .metas {
    flex-direction: column;
    padding: 1rem !important;
    padding-top: 2rem;
  }
}
